<div class="container-1">
  <div class="container-2 sidebar-component item">

    <!-- Search section -->
    <section>
      <form class="form-search">

        <input type="text" id="search-field" placeholder="Search">

        <button type="submit">
          <img src="/search-icon.svg">
        </button>

      </form>
    </section>
    <!-- filters section    -->
    <section>
      <form class="form-search-filter">

        <header>
          <img src="filtro.svg">
          <span>Filtro</span>
        </header>

        <div class="label-tags-container">
          <div class="label-tag">
            <a href="/search/tag-id">Tag Name</a>
          </div>
        </div>

      </form>
    </section>

    <!-- File explorer section  -->
    <section>

      <p>Categories</p>
      <hr>

      <div class="documents-list-component">
        <div class="document-item-component">
          <img src="folder-icon.svg">
          <!-- I think we can just use enum and not image as Input field?         -->
          <span>Folder name or document name</span>
        </div>
      </div>

    </section>
  </div>

  <div class="container-3">
    <div class="document-editor-component">
      <header>
        <h1>Hello World</h1>
        <p>
          <span>Document location</span>
          <span>Last time edited</span>
        </p>
        <hr>
        <div class="document-tags">
          <p>
            <span>#Tag</span>
            <span>#Tag</span>
            <span>#Tag</span>
          </p>
        </div>
      </header>
      <p>TextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextText</p>
    </div>
  </div>
</div>
