<div class="container-1">
  <div class="container-2 sidebar-component">

    <!-- Search section -->
    <section>
      <form class="form-search">

        <input type="text" id="form-search__input" class="poppins-400" placeholder="Search">

        <button type="submit" class="form-search__btn">
          <img src="/assets/images/search-icon.svg" width="16px">
        </button>

      </form>
    </section>
    <!-- filters section    -->
    <section>
      <form class="form-search-filter">

        <header class="form-search-filter__header">
          <img src="/assets/images/filtro-icon.svg">
          <span class="poppins-500">Filtro</span>
        </header>

        <div class="form-search-filter__label-tags-container">
          <div class="label-tag">
            <button type="button" class="label-tags-container__btn">
              <a href="/dashboard/search/tag-id" class="poppins-600 label-tags-container__label-tag">Laravel</a>
            </button>
          </div>
        </div>

      </form>
    </section>

    <!-- File explorer section  -->
    <section class="file-explorer-component">

      <p class="poppins-400 categories">Categories</p>
      <hr class="hr">

      <div class="documents-list-component">
        <div class="document-item-component">

        </div>
      </div>

    </section>
  </div>

  <div class="container-3">
    <div class="document-editor-component">
      <header class="document-editor-component__header">
        <h1 class="open-document-name poppins-400">Hello World</h1>
        <p>
          <span class="document-info">
            <img src="/assets/images/folder-icon.svg">
            Document location
          </span>
          <span class="document-info">
            <img src="/assets/images/clock-icon.svg">
            Last time edited
          </span>
        </p>
        <hr>
        <div class="document-tags">
            <span>#Tag</span>
            <span>#Tag</span>
            <span>#Tag</span>
        </div>
      </header>
      <p class="text">TextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextText</p>
    </div>
  </div>
</div>
