<!-- sidebar-tree.component.html -->
<div class="tree-container">

  <!--    first-main-layer-->
  <ng-container *ngFor="let node of treeData">
    <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: node, level: 0 }"></ng-container>
  </ng-container>

  <!--    template of node-->
  <ng-template #treeNode let-node let-level="level">

    <div class="tree-node" >
      <div class="node-row" (click)="node.type === 'folder' && toggleFolder(node)">
          <span class="icon">
            @if (node.type === 'folder') {
              <img src="/assets/images/folder-icon.svg" alt="folder" *ngIf="node.expanded === false" width="16px">
              <img src="/assets/images/active-folder-icon.svg" alt="active-folder" *ngIf="node.expanded === true" width="16px">
            }
            @else {
              <img src="/assets/images/document.svg" alt="document" *ngIf="node.type ==='document' " width="13px">
            }
          </span>
        <span class="node-name">{{ node.name }}</span>
      </div>

      <!-- next layer -->
      <ng-container *ngIf="node.children && node.expanded">
        <ng-container *ngFor="let child of node.children">
          <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: child, level: level + 1 }"></ng-container>
        </ng-container>
      </ng-container>

    </div>

  </ng-template>


</div>



