<!-- sidebar-tree.component.html -->
<header>
  <p class="poppins-400 categories__label">{{ 'File Explorer' | translate }}</p>

  <div class="buttons">
    <button class="btn-create-new-note" (click)="createNewNote()">
      <img src="/assets/icons/create-note.svg">
    </button>
    <button class="btn-create-new-folder" (click)="createNewFolder()">
      <img src="/assets/icons/folder-create.svg">
    </button>
  </div>
</header>

<hr class="hr">

<div class="tree-container">

  <!--    first-main-layer-->
  <ng-container *ngFor="let node of treeData">
    <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: node, level: 0 }"></ng-container>
  </ng-container>

  <!--    template of node-->
  <ng-template #treeNode let-node let-level="level">

    <div class="tree-node" >
      <div class="node-row">
          <span class="icon" (click)="node.type === 'folder' ? toggleFolder(node) : onClickFile(node)">
            @if (node.type === 'folder') {
              <img src="/assets/images/folder-icon.svg" alt="folder" *ngIf="node.expanded === false" width="16px">
              <img src="/assets/images/active-folder-icon.svg" alt="active-folder" *ngIf="node.expanded === true" width="16px">
            }
            @else {
              <img src="/assets/images/document.svg" alt="document" *ngIf="node.type ==='document' " width="13px">
            }
          </span>

        <input *ngIf="editingFolderId === node.id && node.type === 'folder'"
               [(ngModel)]="node.title"
               (blur)="finishRenaming()"
               (keydown.enter)="finishRenaming()"
               autofocus
               type="text"
               class="folder-rename-input node-name"/>

        <span *ngIf="editingFolderId !== node.id || node.type=='document'" (dblclick)="node.type === 'folder' ? startRenaming(node): null" class="node-name">{{ node.title }}</span>
      </div>

      <!-- next layer -->
      <ng-container *ngIf="node.children && node.expanded">
        <ng-container *ngFor="let child of node.children">
          <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: child, level: level + 1 }"></ng-container>
        </ng-container>
      </ng-container>

    </div>

  </ng-template>


</div>



