<div class="sidebar">
  <!-- Search section -->
  <section>
    <form class="form-search">

      <input type="text" id="form-search__input" class="poppins-400" placeholder="Search">

      <button type="submit" class="form-search__btn">
        <img src="/assets/images/search-icon.svg" alt="find">
      </button>

    </form>
  </section>



  <!-- filters section    -->
  <section>
    <form class="form-search-filter">

      <header class="form-search-filter__header">
        <img src="/assets/images/filtro-icon.svg">
        <span class="poppins-500">Filtro</span>
      </header>

      <div class="form-search-filter__label-tags-container">

        <label class="label-tag" for="label-tag__id">
          <input id="label-tag__id" type="checkbox" class="label-tag__checkbox">
          <span class="label-tag__text">#Laravel</span>
        </label>
  <!--        <button type="button" class="label-tags-container__btn">-->
  <!--          <a href="/dashboard/search/tag-id" class="poppins-600 label-tags-container__label-tag">Laravel</a>-->
  <!--        </button>-->
      </div>

    </form>
  </section>

  <!-- File explorer section  -->
  <section class="categories">

    <p class="poppins-400 categories__label">File explorer</p>
    <hr class="hr">

    <app-file-explorer />


  </section>

  <section class="sidebar-buttons">
    <button class="sidebar-btn user" [routerLink]="['/profile']">
      <img src="/assets/icons/user-icon.svg" alt="User">
      <span class="btn-label">User Profile</span>
    </button>
    <button class="sidebar-btn settings">
      <img src="/assets/icons/settings-icon.svg" alt="Settings">
      <span class="btn-label">Settings</span>
    </button>
  </section>
</div>
