<div class="sidebar">
  <!-- Search section -->
  <section>
    <form class="form-search">
      <input
        type="text"
        id="form-search__input"
        class="poppins-400"
        [placeholder]="'Search' | translate"
      />
      <button type="submit" class="form-search__btn">
        <img src="/assets/images/search-icon.svg" alt="find" />
      </button>
    </form>
  </section>

  <!-- Filters section -->
  <div class="form-search-filter__label-tags-container">
    <header class="form-search-filter__header">
      <img src="/assets/images/filtro-icon.svg" alt="Filter icon" />
      <span class="poppins-500">{{ 'Filters' | translate }}</span>
    </header>
    <div class="labels">
      <label class="label-tag">
        <input type="checkbox" class="label-tag__checkbox" />
        <span class="label-tag__text">#Laravel</span>
      </label>
      <label class="label-tag">
        <input type="checkbox" class="label-tag__checkbox" />
        <span class="label-tag__text">#Angular</span>
      </label>
      <label class="label-tag">
        <input type="checkbox" class="label-tag__checkbox" />
        <span class="label-tag__text">#React</span>
      </label>
      <label class="label-tag">
        <input type="checkbox" class="label-tag__checkbox" />
        <span class="label-tag__text">#Doc</span>
      </label>
      <label class="label-tag">
        <input type="checkbox" class="label-tag__checkbox" />
        <span class="label-tag__text">#Html</span>
      </label>
      <label class="label-tag">
        <input type="checkbox" class="label-tag__checkbox" />
        <span class="label-tag__text">#Css</span>
      </label>
    </div>
  </div>

  <!-- File explorer section -->
  <section class="categories">
    <p class="poppins-400 categories__label"></p>
    <hr class="hr" />
    <app-file-explorer></app-file-explorer>
  </section>

  <!-- Bottom Buttons -->
  <section class="sidebar-buttons">
    <button class="sidebar-btn user" [routerLink]="['/profile']">
      <img src="/assets/icons/user-icon.svg" alt="User" />
      <span class="btn-label">{{ 'User Profile' | translate }}</span>
    </button>
    <button class="sidebar-btn settings" [routerLink]="['/settings']">
      <img src="/assets/icons/settings-icon.svg" alt="Settings" />
      <span class="btn-label">{{ 'Settings' | translate }}</span>
    </button>
  </section>
</div>
