<div class="page">
    <div class="login-container">
        <h2>Sign In</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="username">Username</label>
                <app-input [value]="username" placeholder="Enter your username"></app-input>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <app-input [type]="hidePassword ? 'password' : 'text'" [value]="password"
                        placeholder="Enter your password">
                    </app-input>

                    <lucide-angular class="eye-icon" [name]="eyeIcon" (click)="togglePasswordVisibility()">
                    </lucide-angular>
                </div>
            </div>

            <div class="buttons">
                <button type="submit" class="btn-primary">Sign In</button>
                <button (click)="navigateToRegister()" type="button" class="btn-secondary">Sign Up</button>
            </div>
        </form>
    </div>
</div>