<div class="document-editor-component">
  <header class="document-editor-component__header">
    <h1 class="open-document-name poppins-400">Hello World</h1>
    <p>
      <span class="document-info">
        <img src="/assets/images/folder-icon.svg">
        Document location
      </span>
      <span class="document-info">
        <img src="/assets/images/clock-icon.svg">
        Last time edited
      </span>
    </p>
    <hr>
    <div class="document-tags">
        <span>#Tag</span>
        <span>#Tag</span>
        <span>#Tag</span>
    </div>
  </header>

   <article>
     <textarea cols="120" rows="20" id="text" autofocus ></textarea>
   </article>
  <!--   <form>-->
  <!--&lt;!&ndash;      <textarea class="text" type="text" id="text" rows="6" placeholder="Try it!">&ndash;&gt;-->
  <!--&lt;!&ndash;      </textarea>&ndash;&gt;-->
  <!--     <button>Save</button>-->
  <!--   </form>-->
</div>
