/* You can add global styles to this file, and also import other style files */

:root {
  --light-color: #ffffff;
  /*--light-color: #C8C8C8;*/
  --dark-color: #1B1B1B;
  --interface-color: #272727;
  --search-bar-color: #333333;
  --blue-color: #3471FF;
  --light-blue-color: #2760ff;
  --filtro-color: #484848;
  --categories-color: #868686;
  --tags-color: #898989;
  --background-black : #1B1B1B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--light-color);
  background-color: var(--background-black);
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../public/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
